body {
    font-family: Arial, sans-serif;
    background-color: #f80101;
}

.project-section {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

h2 {
    text-align: center;
}

.project-list {
    list-style-type: none;
    padding: 0;
}

.project-item {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-item a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.page-view-box {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.page-view-box:hover {
    background-color: #45a049; /* Darker green on hover */
}

.back-button {
    position: absolute;
    top: 20px; /* Distance from the top */
    left: 20px; /* Distance from the left */
}

.back-button button {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.back-button button:hover {
    background-color: #45a049; /* Darker green on hover */
}
